{% extends "snippets/base.html" %}
{% block menu %}{% endblock %}
{% block nav%}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ brand }} - Carrito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
    <style>
      .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;
      }
    </style>
</head>

<body class="body-carrito">
  <div class="carrito">
    <div class="carrito-title-cont">
        <h2 class="carrito-title">Tu carrito</h2>
    </div>

    {% for juego in juegos %}
    <div class="carrito-producto">
        <div class="game-photo">
            <img src="{{ juego.header_image }}" alt="{{ juego.name }}">
        </div>
        <div class="game-info">
            <h3 class="game-title-carrito">{{ juego.name }}</h3>
            <p class="game-price-carrito">{{ juego.price }}</p>
        </div>
        <div class="carrito-eliminar">
        <form method="POST" action="{{ url_for('carrito.eliminar_del_carrito') }}" class="form-eliminar-carrito">
            <input type="hidden" name="game_id" value="{{ juego.id }}">
            <button type="submit" class="btn-x-carrito">
                <span class="material-symbols-outlined close-carrito">close</span>
            </button>
        </form>
    </div>
    </div>
    {% endfor %}

    <form method="POST" action="{{ url_for('carrito.procesar_compra') }}">
        <button type="submit" class="checkout">Procesar compra</button>
    </form>
</body>

{% endblock %}