{% extends "snippets/base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comunidad.css') }}">
<div id="main">
    <div class="inner">
        <h1>Comunidad</h1>

        <div class="comunidad-container">
            {% include 'snippets/comentarios.html' %}
        </div>

        <!-- starting here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/comentarios.css') }}">

        {% if session['esta_logueado'] %}

        <section class="comunidad-section">
            <h2 class="comunidad-header">Mis Comentarios</h2>
            <div class="comunidad-content">
                {% if comentarios_usuario %}
                    {# Dictionary is not empty #}
                    {% for c in comentarios_usuario %}
                    <div class="comentario">
                        <div class="comentario-layout">
                            <div class="comentario-juego">
                                <img class="juego-imagen" src={{ c.juego_imagen }} alt={{ c.juego_nombre }}>
                                <div class="juego-nombre"><a href="{{url_for('juegos.generic', game_id=c.juego_id)}}">{{ c.juego_nombre }}</a></div>
                            </div>
                            <div class="comentario-body">
                                <p class="comentario-texto">
                                    {{ c.comentario_texto }}
                                </p>
                                <div class="timestamp">{{ c.comentario_timestamp }}</div>
                            </div>
                            <div class="comentario-borrar">

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                {# Dictionary is empty #}
                <p>No tienes Comentarios</p>
                {% endif %}
            </div>
        </section>
        {% else %}

        <section class="comunidad-section">
            <h2 class="comunidad-header">Inicia Sesion o Registrate para Comentar</h2>
            <div class="login-prompt">
                <div class="prompt-content">
                    <div class="prompt-actions">
                     <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Iniciar Sesion</a>
                     <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">Resgistrate</a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>

</div>



{% endblock %}