<link rel="stylesheet" href="{{ url_for('static', filename='css/comentarios.css') }}">

{# {% include 'snippets/dejar_comentario.html' %} #}

<section class="comunidad-section">
    <h2 class="comunidad-header">Comentarios Recientes</h2>
    <div class="comunidad-content">
        {% for c in comentarios_recientes %}
        <div class="comentario">
            <div class="comentario-layout">
                <div class="comentario-juego">
                    <img class="juego-imagen" src={{ c.juego_imagen }} alt={{ c.juego_nombre }}>
                    <div class="juego-nombre"><a href="{{url_for('juegos.generic', game_id=c.juego_id)}}">{{ c.juego_nombre }}</a></div>
                </div>
                <div class="comentario-body">
                    {% for i in range(c.rating) %}
                    <span class="estrella">&#9733;</span>
                    {% endfor %}
                    <p class="comentario-texto">
                        {{ c.comentario_texto }}
                    </p>
                    <div class="timestamp">{{ c.comentario_timestamp }}</div>
                </div>
                <div class="comentario-usuario">
                    {# <img class="avatar" src="{{ url_for('static', filename='images/' + c.usuario_avatar) }}" #}
                     <img class="avatar" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Usuario">
                    <div class="username">{{ c.usuario_username }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>