<section class="tiles">
    {% for juego in juegos %}
    <article class="style{{ loop.cycle('1','2','3','4','5','6') }}">
        <a href="{{ url_for('generic', game_id=juego.id) }}">
            <span class="image">
                <img src="{{ juego.header_image }}" alt="{{ juego.name }}" />
            </span>
            <h2>{{ juego.name }}</h2>
            <div class="content">
                <p class="desc-bg">{{ juego.description }}</p>
                <p class="cat-price"><strong>Precio: {{ juego.price }}</strong></p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>