{% extends "base.html" %}

{% block content %}

<div id="main">
	<div class="inner">
		<h1 class="game-title-main">{{ juego.name }}</h1>
		<div class="d-flex justify-content-center">
			<div id="gameCarousel" class="carousel slide mb-4" data-bs-ride="false" style="max-width: 1200px;">
				<div class="carousel-inner">
					{% if juego.videos %}
					<div class="carousel-item active">
						<video class="d-block w-100" controls>
							<source src="{{ juego.videos[0] }}" type="video/mp4">
							Tu navegador no soporta video.
						</video>
					</div>
					{% endif %}

					{% for url in juego.screenshots [0:5]%}
					<div class="carousel-item {% if not juego.videos and loop.first %}active{% endif %}">
						<img src="{{ url }}" class="d-block w-100" alt="Screenshot {{ loop.index }}">
					</div>
					{% endfor %}
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#gameCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<p>{{ juego.description }}</p>
		<div class="precio-carrito">
			<span class="sub-titles"><strong>Precio:</strong> {{ juego.price }}</span>
			{% if session.email %}
			<form action="{{ url_for('add') }}" method="post">
				<input type="hidden" name="game_id" value="{{ juego.id }}">
				<button type="submit" class="cart-button">Añadir al carrito</button>
			</form>
			{% else %}
			<a href="{{ url_for('login') }}" class="cart-button">Inicia sesión para añadir al carrito</a>
			{% endif %}
		</div>
		<p class="sub-titles"><strong>Géneros y Categorías</strong></p>
		<ul class="list">
			{% for gen in juego.generos %}
			<li>{{ gen }}</li>
			{% endfor %}
			{% for cat in juego.categorias %}
			<li>{{ cat }}</li>
			{% endfor %}
		</ul>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/comunidad.css') }}">
<div class="puntuacion">
	<h2 class="rating-txt">
		{% if rating_prom | float > 0 %}
			Valoración promedio de los usuarios: 
			<span class="avg-rating">{{ '%.1f' % (rating_prom | float) }}/5</span>
			<span class="emoji">
				{% set rating = rating_prom | float %}
				{% if rating >= 4.5 %} 😍
				{% elif rating >= 3.5 %} 😊
				{% elif rating >= 2.5 %} 🙂 
				{% elif rating >= 1.5 %} 😐
				{% else %} 😞 
				{% endif %}
			</span>
		{% else %}
			<p>Todavía no hay valoraciones <span class="emoji">👀</span></p>
			<p style="margin-top: 15px">¡Se el primero en comentar!</p>
		{% endif %}
	</h2>
</div>


		<div class="comunidad-container">
			{% include 'dejar_comentario.html' %}
            {% include 'comentarios.html' %}
        </div>

	</div>
</div>

{% endblock %}