{% extends "base.html" %}

{% block content %}

<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
			<h1>{{ brand }}</h1>
			<p>La mejor tienda de videojuegos online.</p>
		</header>
		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic01.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Magna</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic02.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Lorem</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic03.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Feugiat</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic04.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Tempus</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic05.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Aliquam</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic06.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Veroeros</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic07.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Ipsum</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic08.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Dolor</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style1">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic09.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Nullam</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic10.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Ultricies</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic11.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Dictum</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="{{ url_for('static', filename='/images/pic12.jpg', _external=True) }}" alt="" />
				</span>
				<a href="{{ url_for('generic') }}">
					<h2>Pretium</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>

{% endblock %}