{% extends "base.html" %}
{% block footer %}{% endblock %}

{% block content %}
<div class="form">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <h1 id="login-title">{{ brand }}</h1>
  <ul class="tab-group">
    <li class="tab active"><a class="a-login" href="#signup">Registrarse</a></li>
    <li class="tab"><a class="a-login" href="#login">Iniciar sesión</a></li>
  </ul>

  <div class="tab-content">
    <div id="signup">
      <h1 class="login-h1">Registrarse</h1>
      <form action="{{ url_for('register') }}" method="POST">
        <div class="top-row">
          <div class="field-wrap">
            <label class="login-label">Nombre</label>
            <input class="login-input" type="text" name="first_name" required />
          </div>
          <div class="field-wrap">
            <label class="login-label">Apellido</label>
            <input class="login-input" type="text" name="last_name" required />
          </div>
        </div>

        <div class="field-wrap">
          <label class="login-label">Correo electrónico</label>
          <input class="login-input" type="email" name="email_signup" required />
        </div>

        <div class="field-wrap">
          <label class="login-label">Contraseña</label>
          <input class="login-input" type="password" name="password_signup" required />
        </div>

        <button type="submit" class="login-button login-button-block">Acceder</button>
      </form>
    </div>

    <div id="login">
      <h1 class="login-h1">Inicio de sesión</h1>
      <form action="{{ url_for('login') }}" method="POST">
        <div class="field-wrap">
          <label class="login-label">Correo electrónico</label>
          <input class="login-input" type="email" name="email_login" required />
        </div>

        <div class="field-wrap">
          <label class="login-label">Contraseña</label>
          <input class="login-input" type="password" name="password_login" required />
        </div>

        <p class="forgot"><a class="a-login" href="#">¿Olvidaste tu contraseña?</a></p>
        <button type="submit" class="login-button login-button-block">Ingresar</button>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}